.header{
    margin-top: auto;
    justify-content: center;
    padding: auto;
    width: 100% ;
    height:20vh;
}
.container{
    margin: auto;
justify-content: center;
padding: 0;
text-align: center;
}
.card{
    margin: auto;
    justify-content: center;
    padding: 0;
    text-align: center;
    background-color: pink;
    width: 40%;
    height: 70%;
    border-radius: 5%;
}
button{
   width: 130px;
   height: 40px;
    background-color: black;
    border-radius: 14.5%;
    
}    .sub{
        color: aliceblue;
    }
img{
 width: 250px;
 height: 250px;
}
.footer{
    margin-bottom: auto;
    justify-content: center;
    padding: 0;
    text-align: center;
}
.link{
    color: black;
}
.child2{
    margin-left: auto;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    writing-mode: vertical-rl;
}
